.about
{
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: minmax(24rem, 30rem) minmax(min-content, 60rem);
    grid-gap: 5rem;
    grid-row-gap: 2rem;

    @media only screen and (max-width: 42.6em)
    {
        grid-template-columns: 1fr;
    }

    &__img
    {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__detail
    {
        display: flex;
        flex-direction: column;
        text-align: justify;
        
        &--text
        {
            margin-bottom: 1rem;
        }

        &--skills
        {
            .skill-list
            {
                list-style: none;

                &__item
                {
                    display: inline-block;
                    padding: 1rem 2rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.works
{
    &__text
    {
        text-align: center;
        padding: 2rem;
        font-weight: 600;
    }

    &__div
    {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap: 0;
        padding: 0;

        @media only screen and (max-width: 56.2em)
        {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    &__items
    {
        position: relative;
        &--img
        {
            display: block;
            width: 100%;
            object-fit: cover;
        }

        &--name
        {
            position: absolute;
            display: block;
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            color: #333;
            transition: all .4s cubic-bezier(.69,.04,.36,1.39);

            & > *
            {
                transform: translateY(500rem);
                @include fluid-type(20px, 28px);
                transition: all .3s .4s;
                backface-visibility: hidden;
                text-decoration: none;
            }
        }

        &:hover > &--name
        {
            width: 100%;
            background: rgba(#feffef, .8);
        }

        &:hover > &--name > *
        {
            transform: translateY(0);
        }
    }

    .full-view
    {
        grid-column: 1 / -1;
    }
}